$primary-red: #bc150a;
$primary-green: #7fbf3f;

$primary-dark: #272936;
$secondary-dark: #313443;
$third-dark: #21232f;

$primary-light: #02acc3;
$secondary-light: #0499af;
$third-light: #06879c;
$fourth-light: #08798b;

$primary-text: #f1f4f4;
